.background {
  background: #05001f;
  width: 100%;
  display: flex;
  justify-content: center;
  .flexs {
    padding-top: 20px;
    .texts {
      display: flex;
      justify-content: space-between;
      .text1 {
        h2 {
          color: #fff;
          font-family: "Comfortaa", sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .text2 {
        display: flex;
        align-items: center;
        h2 {
          color: #fff;
          font-family: "Comfortaa", sans-serif;
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        svg {
          width: 11px;
          height: 11px;
        }
      }
    }
    .autos {
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
     
      flex-direction: column;
      gap: 30px;
      .autoscontrol {
        border-radius: 40px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        .autotexts {
          padding-top: 30px;
          padding-bottom: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-direction: column;
          
          gap: 12px;
          img {
            width: 50px;
           
          }
          h2 {
            color: #05001f;
            font-family: "Comfortaa", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
          }
          h3 {
            border-radius: 40px;
            background: #deeff1;
            color: #05001f;
            font-family: "Comfortaa", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
          }
        }
        .renault {
          img {
            width: 200px;
          }
        }
      }
     
    }
  }
}

@media (min-width: 768px) {
  .background {
    .flexs {
      .texts {
        .text1 {
          h2 {
            font-size: 22px;
          }
        }
        .text2 {
          h2 {
            font-size: 18px;
          }
          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
      .autos{
         .autoscontrol{
            display: flex;
            justify-content: space-around;
            .autotexts{
               h2{
                  font-size: 25px;
               }
            }
            .renault{
               img{
                  width: 100%;
               }
               
            }
         }
      }
    }
  }
}
@media (min-width: 992px) {
  .background {
    .flexs {
      margin-top: 40px;
      margin-bottom: 60px;
      .texts {
        .text1 {
          h2 {
            font-size: 22px;
          }
        }
        .text2 {
          h2 {
            font-size: 18px;
          }
          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
      .autos{
         display: flex;
         flex-direction: row;
         .autoscontrol{
            width: 100%;
            display: flex;
            justify-content: space-around;
            .autotexts{
               img{
                  width: 66px;
               }
               h2{
                  font-size: 30px;
       
                  font-weight: 900;
               }
               h3{
                  font-size: 22px;
                  padding-left: 35px;
                  padding-right: 35px;
                  padding-top: 25px;
                  padding-bottom: 25px;
               }
            }
            .renault{
               img{
                  width: 100%;
               }
               
            }
         }
      }
    }
  }
}
